<div class="container">

  <div class="home-title">
    <h1>MOVIE TRIVIA</h1>
  </div>

  <div class="home-subtitle">
    <h3>Test your movie knowledge!</h3>
  </div>

  <div class="home-description">
    <p>Welcome to Movie Trivia! Choose between Solo and Versus modes to challenge yourself or compete with friends.</p>  
    <p>Dive into a world of cinematic trivia and see how well you know your movies!</p>
    <p>Good luck and have fun!</p>
  </div>

  <div class="start-game">
    <a class="button-1" href="/gameSelection">Solo Game</a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a class="button-1" href="/versusGame">Versus Game (Under Construction)</a>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <a class="button-1" href="/movieList">Movie List</a>
  </div>

  <div class="change-log">
    <a class="button-1" href="/changeLog">Change Log</a>
  </div>

</div>
